html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='author' content='Anthony Tulumello')
    meta(name='description' content='Bootstrap Boiler Plate by Anthony Tulumello')
    meta(name='keywords' content='Bootstrap, Boiler, Plate')
      
    link(rel='stylesheet' href='css/vendor/bootstrap.min.css')
    link(rel='stylesheet' href='css/app.css')

    title Bootstrap Boiler Plate
  
  body
    
    
    
    
    script(src='js/vendor/jquery-3.2.1.min.js')
    script(src='js/vendor/popper.js')
    script(src='js/vendor/bootstrap.min.js')
    script(src='js/app.js')
